name: CI Linux

on:
  push:
    branches: master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        #compiler: [g++, clang++]
        #buildconfig: [Debug, Release]
        config:
        - {cc: gcc-10, cxx: g++-10, config: Debug, cmake_args: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-march=skylake -Og -gsplit-dwarf"}
        - {cc: gcc-10, cxx: g++-10, config: Release, cmake_args: -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_LTO=On -DLLVM_ENABLE_LLD=OFF DCMAKE_CXX_FLAGS="-march=skylake -g1 -gdwarf-5 -Wsuggest-final-types"}
        - {cc: clang, cxx: clang++, config: Debug, cmake_args: -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_FLAGS="-march=skylake -Og -gsplit-dwarf" -DLLVM_ENABLE_MODULES=ON -DLLVM_ENABLE_MODULE_DEBUGGING=ON }
        - {cc: clang, cxx: clang++, config: Release, cmake_args: -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_LTO=Thin -DCMAKE_CXX_FLAGS="-march=skylake -gsplit-dwarf -g1 -ftime-trace" -DLLVM_ENABLE_MODULES=ON -DLLVM_ENABLE_MODULE_DEBUGGING=ON }

    steps:
    - run: echo "CCACHE_DIR=$GITHUB_WORKSPACE/build/.ccache" >> $GITHUB_ENV
    - uses: actions/checkout@v2
    - uses: Trass3r/setup-cpp@master
    - run: sudo apt install -y build-essential g++-10 binutils-dev cmake ninja-build clang lld python3 ccache libedit-dev
    - name: Prepare ccache timestamp
      id: ccache_cache_timestamp
      run: echo "::set-output name=date::`date -u +"%Y-%m-%d-%H;%M;%S"`"

    - name: ccache cache files
      uses: actions/cache@v2
      with:
        path: build/.ccache
        key: ${{ matrix.config.cc }}-${{ matrix.config.config }}-ccache
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: 'cpp'
    - name: build
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
      run: |
        mkdir -p build && cd build
        cmake -G Ninja -D CMAKE_C_COMPILER_LAUNCHER=ccache -D CMAKE_CXX_COMPILER_LAUNCHER=ccache -DLLVM_ENABLE_ASSERTIONS=ON -DLLVM_INCLUDE_EXAMPLES=OFF -DLLVM_INCLUDE_BENCHMARKS=OFF -DLLVM_INCLUDE_DOCS=OFF -DLLVM_INCLUDE_TESTS=OFF -DCLANG_INCLUDE_TESTS=OFF -DCLANG_INCLUDE_DOCS=OFF -DCLANG_ENABLE_ARCMT=OFF -DLLVM_ENABLE_PROJECTS="clang;clang-tools-extra;compiler-rt;libclc;libcxx;libcxxabi;libunwind;lld;lldb;openmp;parallel-libs;polly;pstl" -DCMAKE_INSTALL_PREFIX=/opt/clang -DLLVM_BINUTILS_INCDIR=/usr/include -DLLVM_OPTIMIZED_TABLEGEN=ON -DLLVM_ENABLE_LLD=ON -DLLVM_TARGETS_TO_BUILD="X86;ARM;AArch64;AMDGPU;NVPTX;RISCV;WebAssembly" -DLLVM_ENABLE_UNWIND_TABLES=OFF -DBUILD_SHARED_LIBS=ON ${{ matrix.config.cmake_args }} ../llvm/
        set +e
        ninja -k100
        ccache -s
        git clone --depth=1 https://github.com/nico/ninjatracing.git
        python3 ninjatracing/ninjatracing .ninja_log > buildtrace.json
        python3 ninjatracing/ninjatracing .ninja_log -e > buildtrace.e.json
        sudo ninja install
        sudo bash -c 'find /opt/clang -type f -executable | xargs -t -n1 -P8 dwp -v -e'
    - name: separate debug info
      if: ${{ matrix.config.cc == 'gcc' }}
      run: |
        sudo bash -c 'find /opt/clang -type f -executable -exec objcopy --only-keep-debug {} {}.dbg \; -exec strip --strip-debug --strip-unneeded {} \; -exec objcopy --add-gnu-debuglink={}.dbg {} \; -exec chmod -x {}.dbg \;'
    - uses: actions/upload-artifact@v2
      with:
        path: buildtrace.json
    - uses: actions/upload-artifact@v2
      with:
        path: buildtrace.e.json
    - uses: actions/upload-artifact@v2
      with:
        name: clang
        path: /opt/clang
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
